* {
    display: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .circle {
    display: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: absolute;
    border-radius: 15px;
}
  .contact_us_body {
    display: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #291831 0%, #090a0f 100%) fixed;
    overflow: hidden;
    
  }

  .Other_details{
    display:relative;
    font-family: "Trirong", serif;
    background: -webkit-linear-gradient(white, #142638);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(50%);

    
  }
  
   img{
    width:340px;
    height:80vh;
    transform: translateX(-500px);
  }
  
  .typing.animate {
    left:10;
    width: 24ch;
    border-right: 0.1em solid rgb(251, 251, 251);
    font-family: monospace;
    font-size: 2.4em;
    animation: type 2.5s steps(20), writer 1s infinite alternate, delete 0.5s steps(5) 2.5s, type2 1s steps(4) 3s forwards, type3 3s steps(24, end) 6s forwards;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    background: -webkit-linear-gradient(white, #142638);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .typing.animate::before { 
    content: "Hello,We are  Kashiyatra'23";
    animation: type2 1s steps(4) 4s forwards, type3 4s steps(29, end) 7s forwards;
    background: -webkit-linear-gradient(white, #142638);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes type {
    from {
      width: 0;
    }
    to {
      width: 29ch;
    }
  }
  
  @keyframes type2 {
    from {
      width: 23ch;
      content: "Hello,We are KashiYatra'23!. "
    }
    to {
      width: 28ch;
      content: "Hello,We are KashiYatra'23!. "
    }
  }
  
  @keyframes type3 {
    from {
      width: 30ch;
      content: "Hello,We are KashiYatra'23!. Feel free to contact Us!"
    }
    to {
      width: 54ch;
      content: "Hello,We are KashiYatra'23!. Feel free to contact Us!"
    }
  }
  
  @keyframes writer {
    50% {
      border-color: transparent;
    }
  }
  
  @keyframes delete {
    from {
      width: 26ch;
    }
    to {
      width: 14ch;
    }
  }


  @media only screen and (max-width: 600px) {

    .typing.animate{
        display:none;
    }
    .Other_details{
        display:relative;
        font-family: "Trirong", serif;
        background: -webkit-linear-gradient(white, #142638);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translateX(10%);
    
        
      }
    .Other_details p{
        font-size: 18px;
    }
    .Other_details h3{
        font-size:1.6em;
        
    }

  }
  